.button{
    /*-fx-font-weight: bold;*/
    /*-fx-background-color: #2e86c1 ;*/
    -fx-background-radius:3;
   /* -fx-font-size:16;*/
  /*  -fx-text-fill:white;*/
}
.button:hover{
   /* -fx-font-weight: bold;
    -fx-background-color: #2ecc71 ;*/
    -fx-background-radius:22;
    /*-fx-background-color:  #f7f9f9 ;
    -fx-font-size:16;
    -fx-text-fill:#2e86c1;*/
    /*-fx-border-color: #2196f3;
    -fx-border-radius:22;*/
     -fx-border-width:1.5;
    /*-fx-border-color: #2196f3;
    -fx-border-radius:22;*/
    /*-fx-background-color:white;*/
}



